$backgroundcolor: rgba(255, 235, 198, 255)
$lightblue: rgba(122, 203, 219, 255)
$darkblue: rgba(0, 109, 146, 255)
$smallbreak: 540px

html
	font-size: 62.5%

body
	font-family: Calibri, sans-serif
	background: $backgroundcolor
	margin: 0
	text-align: center

.container
	padding: 0.25rem
	max-width: 80vw
	margin: 0 auto
	font-size: 1.5rem

div
	padding-left: 1rem
	padding-right: 1rem

#mapid
	height: 80vh
	margin-bottom: 6rem
