.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

body {
  padding: 2em;
}

@media (min-width: 600px) {
  .aside{
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis:  auto;
  }
}

@media (min-width: 800px){
  .aside-1{order: 1;}
  .main{order: 2;}
  .aside-2{order: 3;}
  .footer{order: 4;}
  .main{
    flex-grow: 3;
    flex-shrink: 3;
    flex-basis: auto;
    transition: none;
  }
}

@media(min-width: 800px){
  .main{
    transition: 3s;
    background-color: white;
    transition-property: background-color;
  }
}

@media (max-width: 600px){
  tr td:last-child{display: none;}
  tr td:first-child{display: none;}
}