.container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
  justify-items: space-around;
}

.item {
  background: lightblue;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  text-align: center;
}
